# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
/*.iml
/.vscode/
/*.classpath
/*.project
/.settings/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Credenciais e configs locais
src/main/resources/application.properties

# Outros
*.swp
*.bak
